@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}


/*  ОБНУЛЯЮЩИЕ СТИЛИ */


@font-face {
  font-family: "TT Lakes";
  src: url("./../fonts/TTLakes-Bold.woff2") format("woff2"), url("./../fonts/TTLakes-Bold.woff") format("woff"), url("./../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./../fonts/TTLakes-Medium.woff2") format("woff2"), url("./../fonts/TTLakes-Mediumwoff") format("woff"), url("./../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Lakes";
  src: url("./../fonts/TTLakes-Regular.woff2") format("woff2"), url("./../fonts/TTLakes-Regular.woff") format("woff"), url("./../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html,
body {
  font-size: 14px;
  background-color: #fafafa;
  font-weight: 500;
  font-family: "TT Lakes";
  color: #252B42;
  overflow-x: scroll;
  line-height: 1;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgb(255, 255, 255);
  display: flex;
   align-items: center;
   min-height: 90px;
   padding: 0px 15px;
   
}
.header__icon--call {
  display: none;
}
.header__icon--chat {
  display: none;
}
.header__icon--profile {
  display: none;
}
.header__icon--burger {
  margin-right: 16.73px;
  display: block;
}
.header__icon--logo {
   display: block;
  display: flex;
   align-items: center;
   flex-grow: 1;
  margin-right: 20px;
}
.header__icon--logo img {
  padding-right: 16px;
}
.header__icon--logo:after {
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: rgb(234, 234, 234);
}
.header__icon--service {
  margin-right: 16px;
}
.main {
   position: relative;
  display: flex;
   flex-direction: column;
   padding: 0px 15px;
}
.main__decoration {
  font-size: 40px;
  border: 4px solid rgb(65, 246, 215);
  border-radius: 5px;
  margin-right: 12px;
}
.main__title {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 24px;
  color: rgb(27, 28, 33);
  font-size: 28px;
  font-weight: 700;
  line-height: 142%;
}
.main__title span{
   display: block;
   width: 4px;
   height: 40px;
   position: absolute;
   left: -4px;
}
.main__navigation {
  display: flex;
   align-items: center;
   flex-wrap: nowrap;
  margin-bottom: 24px;
}
.main__description {
  display: flex;
   flex-direction: column;
   gap: 16px;
}

.description-text__paragraphs {
  color: rgb(27, 28, 33);
  font-size: 14px;
  font-weight: 400;
  line-height: 128%;
  overflow: hidden;
  margin-bottom: 16px;
}
.description-text__paragraphs p{
   display: none;
}
.description-text__paragraphs p:first-child{
   display: block;
}
.description-text__next {
  display: inline-block;
  position: relative;
  color: rgb(27, 28, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding-left: 30px;
}
.description-text__next a {
  color: inherit;
}
.description-text__next img {
  margin-left: 9px;
  margin-top: 7px;
  position: absolute;
  left: 0;
  width: 8px;
  height: 11px;
}
.main__description-img img{
   width: 100%;
}
.navigation{
   overflow-x: scroll;
}
.navigation__item {
  white-space: nowrap;
  color: rgb(126, 126, 130);
  font-size: 16px;
  font-weight: 500;
  flex: 1 1 auto;
  padding: 8px 0px;
  padding-left: 16.54px;
  padding-right: 9.3px;
  transition: 0.1s ease;
}
.navigation__item a{
   color: inherit;
}
.navigation__item:not(:last-child) {
  margin-right: 23px;
}
.navigation__item:hover{
   border: 2px solid rgb(184, 255, 236);
   border-radius: 6px;
   background: rgb(255, 255, 255);
}

.navigation__item-replace-1 {
  display: none;
}

@media (min-width: 767px) {
  .header {
   justify-content: flex-end;
    position: relative;
  }
  .header__container {
    max-width: 720px;
  }
  .header__icon--burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
   align-items: center;
    margin-right: 16px;
  }
  .header__icon--burger img {
    padding-right: 20px;
  }
  .header__icon--burger:after {
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: rgb(234, 234, 234);
  }
  .header__icon--call{
    display: inline-block;
    margin-right: 16px;
  }
  .header__icon--chat {
    display: inline-block;
    margin-right: 16px;
  }
  .header__icon--profile {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  .header__icon--profile img {
    padding-right: 20px;
  }
  .header__icon--profile:after {
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background: rgb(234, 234, 234);
  }
  .header__icon--service {
    margin-right: 16px;
  }
  .header__icon--logo {
   flex-grow: 1;
   flex-basis: auto;
  }
  .header__icon--logo:after {
    display: none;
  }
}
@media (min-width: 767px) {
  .main__description {
    display: flex;
   flex-direction: row;
   gap: 48px
  }
  .main__decoration {
    margin-right: 20px;
    justify-content: space-between;
  }
  .description-text {
   min-width: 312px;
   max-width: 50%;
  }
  .description-text__paragraphs p:not(:last-child) {
    margin-bottom: 30px;
  }
  .description-text__paragraphs p:last-child{
   display: block;
   }
  .main__description-img{
   flex: 1 1 auto;
  }
}
@media (min-width: 1120px) {
  .header {
    position: relative;
    background: rgb(248, 248, 248);
  }
  .header__icon--burger {
    display: none;
  }
  .header__icon--logo {
    visibility: hidden;
  }
  .header__icon--call {
    display: none;
  }
  .header__icon--chat {
    display: none;
  }
  .header__icon--profile {
    display: none;
  }
  .header__icon--service {
    display: flex;
   align-items: center;
  }
  .header__icon--service::before {
    content: "Оставить заявку";
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    padding-right: 8px;
    line-height: 150%;
  }
  .header__icon--status {
    display: flex;
   align-items: center;
  }
  .header__icon--status::before {
    content: "Статус ремонта";
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: 500;
    padding-right: 8px;
    line-height: 150%;
  }
}
@media (min-width: 1120px) {
  .main__decoration span {
    width: 4px;
    height: 40px;
    margin-right: 30px;
  }
  .main__title {
    position: fixed;
    top: 0;
  }
  .main__title span{
   left: -19px;
  }
  .navigation {
    overflow: auto;
   flex-wrap: wrap;
  }
  .navigation__item-replace-1 {
    display: block;
  }
  .description-text {
    margin-right: 20px;
  }
  .description-text__paragraphs p:not(:last-child) {
    margin-bottom: 30px;
  }
}
